%% -*- mode: Erlang; -*-

{erl_opts, [
            debug_info,
            warn_format,
            %% warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_bif_clash
            %% warn_missing_spec,
            %% warn_untyped_record
           ]}.

{lib_dirs, ["../"]}.
{deps_dir, "../"}.

{deps, [
        {riakc,              ".*", {git, "git://github.com/basho/riak-erlang-client", "master"}},
        {riak_kv,            ".*", {git, "git://github.com/basho/riak_kv", "master"}},
        {gproc,              ".*", {git, "git://github.com/esl/gproc", "master"}},
        {metalkia_core,      ".*", {git, "git@bitbucket.org:zert/metalkia_core.git", "HEAD"}}
       ]}.
